body {
    background-image: url(./assets/fond.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

button {
    color: #eae0c8;
	font-size: 25px;
}

#header {
	position: fixed;
	top: 10px;
	left: 50%;
	width: 950px;
	height: 60px;
	background-color: #202020;
	backdrop-filter: blur(5px);
	transform: translate(-50%, 0);
	border-radius: 20px;
	box-shadow: 0 0 10px black;
}
	#pages {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	#header a {
		color: #eae0c8;
		font-size: 25px;
		margin: 20px;
		padding-top: 0;
		text-decoration: none;
	}
		#header a:hover {
			color: orange;
		}

#play-component {
    display: flex;
    flex-direction: column;
    left: 10px;
    bottom: 10px;
    position: fixed;
}
	#button-choose-mode {
		width: 400px;
		height: 100px;
		border: 1px solid black;
		background-color: transparent;
		backdrop-filter: blur(5px);
		box-shadow: 0 0 10px black;
		margin-bottom: 10px;
	}
		#button-choose-mode:hover {
			color: orange;
			border: 0;
			background-color: #202020;
			border: 2px solid orange;
		}

	#button-launch-game {
		width: 400px;
		height: 100px;
		border: 1px solid black;
		background-color: transparent;
		backdrop-filter: blur(5px);
		box-shadow: 0 0 10px black;
	}
		#button-launch-game:hover {
			color: orange;
			border: 0;
			background-color: #202020;
			border: 2px solid orange;
		}
/* #536878 */

.found {
  background-color: #ccc !important;
  color: #555 ;
  cursor: default;
}

/* New screen */
#match-screen {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: aliceblue;
}

.banner {
  width: 120px;
  height: 180px;
  background-color: #222;
  border: 2px solid #444;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 14px;
  padding: 5px;
}

#counter-display {
	display: none;
}